.post-container {
    text-align: justify;
    justify-content: stretch;
    overflow: hidden;
    color: black;
}
.post-container .post-box {
    display: block;
    min-height: 300px;
}

.post-container .post-content {
    overflow-x: auto;
}

.post-container .post-box > .post-image {
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.post-container .post-text {
    font-size: "1rem";
    overflow-x: "auto";
    white-space: "pre-wrap";
    white-space: "pre-line";
}

.post-container .categories-floater {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-container .categories-floater .categories {
    display: flex;
    flex-wrap: wrap;
}

.post-container .categories-floater .categories > h3 {
    margin-right: 0;
    margin-left: 0.5rem;
}

.post-container .like-button {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .post-container .post-content {
        overflow-x: unset;
    }

    .post-container .post-text {
        font-size: "1rem";
        overflow-x: "hidden";
        white-space: "pre-wrap";
    }
}

@media only screen and (max-width: 767px) {
    .post-container .categories-floater {
        margin-left: 1rem;
        justify-content: unset;
    }

    .post-container .categories-floater .categories > h3 {
        margin-right: 0.5rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 574px) {
    .post-container .media {
        width: 100%;
        justify-content: space-evenly;
      }
      .post-container .post-box > .post-image {
        margin: 0px;
        margin-bottom: 1rem;
      }
}

@media only screen and (max-width: 374px) {
    .post-container .post-box > .post-image {
        display: none;
    }
}
