.posts-container {
    color: black;
    text-align: justify;
    justify-content: stretch;
    overflow: hidden;
}

.posts-container .post {
    display: block;
    max-height: 300px;
    overflow: hidden;
}

.posts-container .post-media-body {
    font-size: 1rem;
}

.posts-container .media-heading a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    
}

.posts-container .media-heading a:hover {
    text-decoration: underline;
}

.posts-container .media {
    float: left;
    margin-right: 1rem;
}

.posts-container .categories-floater {
    justify-content: space-between;
}

.posts-container .categories-floater .categories > h3 {
    margin-right: 0;
    margin-left: 0.5rem;
}


@media only screen and (max-width: 767px) {
    .posts-container .media {
        width: 100%;
        justify-content: space-evenly;
        margin-right: 0;
        margin-bottom: 1rem;
      }

      .posts-container .post {
        max-height: 500px;
      }
  
      .posts-container .categories-floater {
          justify-content: unset;
      }

    .posts-container .categories-floater .categories > h3 {
        margin-right: 0.5rem;
        margin-left: 0;
    } 
}

@media only screen and (max-width: 374px) {
    .posts-container .post-image {
        display: none;
    }
}
