.profileInterestBar {
    height: 3rem
}

.profileGeneralInfo div{
    margin-right: 3rem
}

.interestEditor > div {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
    gap: 5px 5px;
}
