.navbar-dropdown .dropdown-menu {
    border: none;
}

.navbar-dropdown .dropdown-menu {
    padding: 0;
}

.navbar-dropdown .dropdown-menu .dropdown-divider {
    margin: 0;
}

.navbar-dropdown .dropdown-menu .dropdown-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-dropdown .dropdown-menu .dropdown-item:hover, .navbar-dropdown .dropdown-menu .dropdown-item:focus {
    color: black
}